 /*class selectors*/
 .header{
    background-color:red;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    border-color:white;
    padding:5px;
    color:white;
}
 .leftnavbar{
    position:absolute;
    top:110px;
    width:300px;
    height:500px;
    background-color:brown;
    border-width:2px;
    border-radius:5px;
    border-color:white;
    padding:5px;
    padding-right:10px;
    color:white;
}
 .body{
    position:absolute
        left:240px;
}

/*id selectors*/

/*unvisted link*/
    a:link{
        color:yellow;
    }
/*visited link*/
    a:visited{
        color:orange;
    }
/*mouse over link*/
    a:hover{
        color:plum;
    }
/*selected link*/
    a:selected{
        color:palevioletred;
    }

h1{
    font-size:large;
    font-style:italic;
    text-align:center;
}
h2{
    font-size:medium;
    text-align:center;
}
body{
    background-color:rgb(255, 164, 61);
}
table{
    margin:5px;
    background-color:orangered;
    border-style:solid;
    border-width:2px;
    border-radius:5px;
    border-color:white;
    padding:5px;
    color:white;
}
    th{
     background-color:brown
     font-weight:bold;
     font-style:italic
    }
</style>
</head>
</css>





