/*full page styling*/
@font-face {
    font-family:AHGrotesk;
    src:url('AlteHaasGroteskRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,body,ul,table{
    font-family:AHGrotesk;
}

/*class selectors*/

 .leftnavbar{
    position:absolute;
    top:160px;
    width:200px;
    height:390px;
    background-color:rgb(214, 19, 74);
    border:2px solid white;
    border-radius:5px;
    padding:5px;
    padding-right:10px;
    color:white;
 }
 .leftpics{
    position:absolute;
    top:565px;
    img{
        max-width:216px;
        border:2px solid white;
        border-radius:5px;
        display:block;
        margin-top:10px;
    }
 }
 .body{
    position:absolute;
    left:250px;
    margin-top:15px;
    padding:15px;
    img{
        max-width:95%;
        border:2px solid white;
        border-radius:5px;
    }
 }
 .testimony{
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    height:fit-content;
    text-align:middle;
    img{width:216px;}
}


/*id selectors*/

#header{
    width:auto;
    background-image:url(loony_bg.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
    border:2px solid white;
    border-radius:5px;
    padding:5px;
    color:white;
}
#table{
    table-layout:auto;
    border:2px solid white;
    border-radius:5px;
    background-color:white;
    color:white;
    text-align:center;
    #tableheadrow{
        display:table-header-group;
        background-color:rgb(214, 19, 74);
    }
    #tablebody{
        display:table-row-group;
    }
    .tablebody_oddrow{
        display:table-row;
        background-color:rgb(249, 104, 42);
    }
    .tablebody_evenrow{
        display:table-row;
        background-color:rgb(249, 161, 58);
    }
    .table_cell{
        display:table-cell;
        border-radius:5px;
        padding:10px;
    }
}

#footer{
    color:brown;
    font-style:italic;
}
/*unvisted link*/
    a:link{
        color:yellow;
    }
/*visited link*/
    a:visited{
        color:rgb(255, 230, 198);
    }
/*mouse over link*/
    a:hover{
        color:plum;
    }
/*selected link*/
    a:selected{
        color:palevioletred;
    }

/*element selectors*/

h1{
    font-size:xx-large;
    font-style:italic;
    text-align:center;
}
h2{
    font-size:x-large;
    text-align:center;
}
h3{
    font-size:large;
    text-align:center;
}
body{
    background-color:rgb(255, 164, 61);
}

