/*full page styling*/
h1,h2,h3,body,ul,table{
    font-family:Helvetica,Arial,sans-serif;
}

/*class selectors*/

 .leftnavbar{
    position:absolute;
    top:160px;
    width:200px;
    height:auto;
    background-color:brown;
    border:2px solid white;
    border-radius:5px;
    padding:5px;
    padding-right:10px;
    color:white;
 }
 .body{
    position:absolute;
        left:240px;
    margin-top:10px;
 }
 .leftpics{
    position:absolute;
    top:675px;
    img{
        max-width:216px;
        border:2px solid white;
        border-radius:5px;
        display:block;
        margin-top:10px;
    }
}


/*id selectors*/

#header{
    background-color:rgb(227, 0, 53);
    width:100%;
    border:2px solid white;
    border-radius:5px;
    padding:5px;
    color:white;
}
#table{
    table-layout:auto;
    border:2px solid white;
    border-radius:5px;
    background-color:white;
    color:white;
    text-align:center;
    #tableheadrow{
        display:table-header-group;
        background-color:rgb(214, 19, 74);
    }
    #tablebody{
        display:table-row-group;
    }
    .tablebody_oddrow{
        display:table-row;
        background-color:rgb(249, 104, 42);
    }
    .tablebody_evenrow{
        display:table-row;
        background-color:rgb(249, 161, 58);
    }
    .table_cell{
        display:table-cell;
        border-radius:5px;
        padding:10px;
    }
}

#footer{
    color:brown;
    font-style:italic;
}
     
}
/*unvisted link*/
    a:link{
        color:yellow;
    }
/*visited link*/
    a:visited{
        color:rgb(255, 230, 198);
    }
/*mouse over link*/
    a:hover{
        color:plum;
    }
/*selected link*/
    a:selected{
        color:palevioletred;
    }

/*element selectors*/

h1{
    font-size:xx-large;
    font-style:italic;
    text-align:center;
}
h2{
    font-size:x-large;
    text-align:center;
}
h3{
    font-size:large;
    text-align:center;
}
body{
    background-color:rgb(255, 164, 61);
}




